/**
 * GENERIC
 */

/**
 * Links
 */
 a {
    color: #2a7ae2;
    text-decoration: none;
}
a:visited {
      color: #1756a9;
}
a:hover {
      color: #111;
      text-decoration: underline;
}




/**
 * HEADER
 */
 .site-logo {
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}
.site-logo, .site-logo:visited {
      color: #424242;
}