<ul class="nav nav-pills nav-stacked">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    {% for section in site.collections %}   <!-- We iterate through all our collections-->  
        {% assign navigation_pages = section.docs | sort: 'order' %}
        {% for element in navigation_pages %}      <!-- for each page in the current collection, sorted by order, we do: -->
            {% if forloop.first and section.display %}  <!-- Add a section header if before the page if it's the first one ion the collection-->
                <li class="nav-header">{{ section.display }}</li>
            {% endif %}

            {% if page.url == element.url %}
                <li class="active"><a href="{{ site.baseurl }}{{ element.url }}">{{ element.title }}</a></li>
            {% else %}
                <li><a href="{{ site.baseurl }}{{ element.url }}">{{ element.title }}</a></li>
            {% endif %}

        {% endfor %}
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class="divider"></li> first to break up the content. -->
</ul>
