/**
 * GENERIC
 */

body {
    font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, div.highlight {
    margin:0px;
    padding:0px;
    margin-bottom: 15px;
}
ul, ol {
    padding-left: 20px;
}
li > ul {
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

/**
 *  Blockqoutes
 */
blockquote {
    font-family: Georgia, serif, Arial;
    border-left: 4px solid #ccc;
    margin-left: 1rem;
    padding-left: .5rem;
    font-style: italic;
    line-height: 28px;
    margin-bottom: 20px;
}


/**
 * Links
 */
 a {
    color: #2a7ae2;
    text-decoration: none;
}
a:visited {
      color: #1756a9;
}
a:hover {
      color: #111;
      text-decoration: underline;
}

/**
 * TABLES
 */
 table {
     margin: 5px;
     margin-bottom: 15px;
     border-spacing: 0px;
     border-collapse: collapse;
 }
th {
    font-weight: 600;
}
tr {
    padding:0;
    margin:0;
}
tr:nth-child(even) {
    background-color: #f6f8fa
}
td, th{
    border: 1px solid #d5d9dd;
    padding: 3px 5px;
}



/**
 * HEADER
 */
 .site-logo {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}
.site-logo, .site-logo:visited {
      color: #424242;
}

footer{
    font-size: 10px;
}


/**
 * SIDEBAR
 */
 .nav{
    margin-top:.5rem;
    padding: 0;
    margin: 0;
    padding-top:15px;
 }
.nav > li{
   display:block;
   margin-left: 0rem;
}
.nav > li.nav-header{
    padding-left: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px; 
 }

.nav > li.nav-header::first-letter {
    font-size: 20px;
}
.nav>li>a {
    color: #111;
    position: relative;
    display: block;
    padding: 4px 0px;
    padding-left: 2rem;
}
.nav>li>a:hover {
    color: #111;
    background-color: #fff;
}
.nav>li.active>a {
    background-color:#cccccc;

}