name: Deploy

on:
    push:
        branches:
            - master

jobs:
    deploy:
        name: Deploy
        steps:
            - name: Deploy Step
            run: |
                ./deploy.sh
