name: Deploy

on:
  push:
    branches:
    - master
    
jobs:
  deplpy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to gh-pages branch
      run: |
        ./deploy.sh
